{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="ws"></div>
    <input type="submit" value="Create" class="btn btn-success"/>
    <button onclick="location='{{ path('category_index') }}'" class="btn btn-primary" type="button">Back to the list of categories</button>
    {{ form_end(form) }}


{% endblock %}
