{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    <div class="ws"></div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success"/>
        <button onclick="location='{{ path('_index') }}'" class="btn btn-primary" type="button">Back to the list</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
